<div class="w-full h-96 rounded-lg bg-gray-200 flex flex-col group">
  <div class="w-full h-64 mb-2">
    <% if blog_post.banner_image.attached? %>
      <%= image_tag blog_post.banner_image, class: "h-full w-full object-cover rounded-t-lg" %>
    <% else %>
      <%= image_tag "books.jpg", class: "h-full w-full object-cover rounded-t-lg" %>
    <% end %>
  </div>

  <div class="h-14 flex-shrink-0 w-full px-4 overflow-hidden text-ellipsis"> 
    <p class="text-xl text-gray-900 overflow-hidden font-semibold"> 
      <%= blog_post.title %>
    </p>
  </div>

  <div class="w-full h-full flex items-center px-4">
    <%= link_to "Read post", blog_post, class: "rounded-md px-3.5 py-2.5 bg-gray-600 hover:underline text-white block font-medium" %>
  </div>
</div>