<footer class="bg-gray-600 text-white py-4 mt-8">
  <div class="container mx-auto text-center">
    <p class="text-lg font-semibold">Contact us: 
      <a href="mailto:anmolt0909@gmail.com" class="text-blue-300 hover:text-blue-400 transition">
        anmolt0909@gmail.com
      </a>
    </p>
    <p>&copy; <%= Time.current.year %> CricBlog. All rights reserved.</p>
  </div>
</footer>
